{{platform_title}}
{% if s_testsuites is defined %}


Secure test
```````````

.. tabs::

{% for suite in s_testsuites %}
   .. group-tab:: {{suite.name}}

      .. list-table::

        * - **Name**
          - **Descriptions**
          - **Result**

    {% for test in suite.test_suite %}
        * - {{test.name}}
          - {{test.desc}}
          - {{test.res}}

    {% endfor %}
{% endfor %}
{% endif %}
{% if ns_testsuites is defined %}


Non-secure test
```````````````

.. tabs::

{% for suite in ns_testsuites %}
   .. group-tab:: {{suite.name}}

      .. list-table::

        * - **Name**
          - **Descriptions**
          - **Result**

    {% for test in suite.test_suite %}
        * - {{test.name}}
          - {{test.desc}}
          - {{test.res}}

    {% endfor %}
{% endfor %}
{% endif %}
